* {
    box-sizing: border-box;
}
body {
    padding-left: 10px;
    padding-right: 20px;
    
}


a {
    color: purple;
    text-decoration: none;
}
.first-link {
    color: rgb(13, 142, 228);
    text-decoration: none;
}

table {
    border-bottom: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    padding-bottom: 20px;

}
.cell1 {
    size: 50%;
    font-weight: bold;
}
.cell2 {
    text-align: end;
    font-style: italic;
}
footer {
    border-top: 1px solid black;
    padding-top: 0;
}

h1 {
    padding-bottom: 20px;
    ;
}
h2 {
    padding-bottom: 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}
p {
    padding-bottom: 20px;
}