* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: rgb(230, 229, 228);
    width: 100%;
    height: 100px;
    padding: 15px;
   
}

button {
    background-color: red;
    color: white;
    border-radius: 15%;
    width: 80px;
    height: 30px;
}

h1 {
    color: red;
}

h1>img {
    width: 20px;
    height: auto;

}

.container {
    width: 100%;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid black;
}

.table1 {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.table2 {
    padding-right: 90px;
    padding-top: 20px;
}

.content-border {
    display: block;
    border-left: 2px solid black;
    padding-left: 20px;

}


a {
    color: rgb(13, 142, 228);
    text-decoration: none;
}

.coments {
    color: gray;
}

.cell1 {
    width: 500px;
}

.cell2 {
    width: 700px;
}

.cell3,
.cell4,
.cell5 {
    width: 200px;
    text-align: center;
}



.cal-cell {
    width: 20px;
}

.divmain {
    padding-bottom: 20px;
    margin: 0px;
    width: 90px;
    
}

.div1 {
    background-color: red;
    color: white;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 14px;
    height: 25px;
 
}

.div2 {
    padding: 10px;
    color: red;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 80px;
    
    

}

.div3 {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    font-size: 14px;
    height: 25px;
}

.s-down {
    display: inline-block;
    transform: rotate(90deg);
}

.s-up {
    display: inline-block;
    transform: rotate(270deg);
}