* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: rgb(230, 229, 228);
    width: 100%;
    height: 100px;
    padding: 10px;
}

button {
    background-color: red;
    color: white;
    border-radius: 15%;
    width: 80px;
    height: 30px;
}

h1 {
    color: red;
}

h1>img {
    width: 20px;
    height: auto;

}

table {
    flex: auto;
    width: 100%;
}

.table2 {
    border-bottom: 1px solid black;
    padding: 0px;
}

.table2 td {
    padding: 20px;
}

a {
    color: rgb(13, 142, 228);
    text-decoration: none;
}

.coments {
    color: gray;
}

.cell1 {
    width: 400px;
}

.cell2 {
    width: 700px;
}

.cell3,
.cell4,
.cell5 {
    width: 200px;
    text-align: center;
}

.content-border {
    border-left: 2px solid black;

}

.cal-cell {
    width: 20px;
}

.divmain {
    padding: 0px;
    margin: 0px;
    width: 80px;

}

.div1 {
    background-color: red;
    color: white;
    border: 1px solid black;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    text-align: center;

}

.div2 {
    padding: 10px;
    color: red;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 80px;

}

.div3 {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
    text-align: center;
}